<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>登录</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/back/backstage_login.css') }}">

</head>

<body>

  <div class="login">
	<h2>登录</h2>
    <form action="{{ url_for('backstage_login') }}" method="post">
    	<input type="text" name="u" placeholder="用户名" required="required" />
        <input type="password" name="p" placeholder="密码" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">登录</button>
    </form>
</div>



    <script  src="js/index.js"></script>




</body>

</html>
